<script type="text/javascript">
	fetch("/json/auth/token", {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                "Accept": "appplication/json",
            },
            
          }).then(function (res) { 
	          res.json().then(data => {
	          	document.cookie = "token=" + data.token + "; path=/"
	          })
	      })
</script>
<%-apply_filters("footer","")%>