[aria-label="checkbox-group"]{
	text-align: left;
}
.multiple-choice-widget-btns{
display:flex;
flex-direction:column;
}
.el-transfer-panel{
	width: 250px;
	font-size:12px;
}
.multiple-choice-widget{
	margin: 0 auto;
	display: flex;
	overflow: auto;
}
.el-transfer__buttons{
	width:100px;
}
.el-transfer__buttons button{
	padding: 10px;
	margin: 5px 0px !important;
}
.v-select.form-control{
	height: inherit;

}
.v-select .combobox{
	border: none;
}
.el-select{
	width: 100% !important;
}