<template>
  <div id="app">
    <div id="nav">
        <router-link to="/">Home</router-link> 
        <router-link to="/about">About</router-link> 
        <router-link to="/servicios">Servicios</router-link> 
    </div>
    <router-view/>
  </div>
</template>

<script>
import Vue from "vue"
import Router from "vue-router"
Vue.use(Router)

var VueApp=require("Public/js/lib/vueapps.js").default

var vueapp=new VueApp("dashboard")//crea una intancia de un manejador de aplicaciones de vue

var routes=[
{path:"/",name:"home",component:()=>import("./views/Home.vue")},
{path:"/about",name:"about",component:()=>import("./views/About.vue")}
]

//carga las rutas desdes las otras aplicaciones
routes=routes.concat(vueapp.init_routes())


export default {
  name: 'App',
  router: new Router({
    //mode"history",
    base:process.env.BASE_URL,
    routes:routes
  }),
  data () { return {
    objects:[],
    permissions: {
      admin: false,
      objects: [],
      events: [],
    }
  }},
  async created () {
    /*
    //este codigo se habilitara una vez se halla provado el cargador de componentes
    this.permissions = await User.permissions()
    
    for(let i in this.permissions.objects) {
      var id= this.permissions.objects[i]

      let value = {route: "/object/" + id, name: id}

      await Object.get(id).then(async obj => {
        value.name = obj.name || obj.id
        var hier = await obj.hierarchy()
        value.name = this.formatUpperPrimary(hier.event) + "-" + this.formatUpperPrimary(value.name)
      })

      this.objects.push(value)
    }
    if (this.permissions.objects.length > 0) {
      this.$router.push("object/" + this.permissions.objects[0])
    }
    */

  },
  methods: {
    logout () {
     console.log("logout")
    }
  }
}




</script>