<template>  
        <ckeditor :editor="editor" v-model="editorData" :config="editorConfig" @input="change"></ckeditor>
        
</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    
    export default {
        data() {
            return {
                name:"rich-text",
                editor: ClassicEditor,
                editorData: '<p>Content of the editor.</p>',
                editorConfig: {  
                }
            };
        },
        mounted(){
            this.$el.previousSibling.attributes["name"]=this.$attrs["name"]
        },
        methods:{
            change(value){

                this.$el.previousSibling.value=value
            }
        }
    }

</script>