<template>
<div>
	<input :name="name" :value="value" hidden="">
	<el-color-picker v-model="value" show-alpha  ></el-color-picker>
</div>	
</template>


<script>
  export default {
    data() {
      return {
        value: 'rgba(19, 206, 102, 0.8)',
        name:null,

      }
    },
    mounted() {

      this.name = this.$attrs["name"]
      this.value = this.$attrs["value"]?this.$attrs["value"]:'rgba(19, 206, 102, 0.8)'

    }
  };
</script>