<template>
  <!--Este sera para notificar de los archivos eliminados -->
  <div >
<el-upload
  class="upload-demo"
  :auto-upload="false"
  :disabled="disabled"
  action="#"
  :on-preview="handlePreview"
  :on-remove="handleRemove"
  :file-list="fileList"
  :multiple="multiple"
  :limit="limit"
  list-type="picture-card">

    <i slot="default" class="el-icon-plus"></i>
    <div slot="file" slot-scope="{file}">
      <img
        class="el-upload-list__item-thumbnail"
        :src="file.url" alt=""
      >
      <span class="el-upload-list__item-actions">
        <span
          class="el-upload-list__item-preview"
          @click="handlePictureCardPreview(file)"
        >
          <i class="el-icon-zoom-in"></i>
        </span>
        <span
          v-if="!disabled"
          class="el-upload-list__item-delete"
          @click="handleDownload(file)"
        >
          <i class="el-icon-download"></i>
        </span>
        <span
          v-if="!disabled"
          class="el-upload-list__item-delete"
          @click="handleRemove(file,$event,fileList)"
        >
          <i class="el-icon-delete"></i>
        </span>
      </span>
    </div>
</el-upload>
  <el-dialog :visible.sync="dialogVisible">
  <img width="100%" :src="dialogImageUrl" alt="">
</el-dialog>
</div>
</template>
<script>
  export default {
    data() {
      return {
        dialogImageUrl:"",
        fileList: [],//{name:,url:}
        disabled: false,
        dialogVisible: false,
        limit:null,
        multiple:false,
      };
    },
    mounted(){
      this.multiple=JSON.parse(this.$attrs["multiple"])
      this["fileList"]=JSON.parse(this.$attrs["filelist"])
      if (!this.multiple){
        this.limit=1
      }
      this.$el.querySelector("[type='file']").setAttribute("name",this.$attrs["name"])
     
      this.$el.previousSibling.attributes["name"].nodeValue="__"+this.$attrs["name"]


    },
    methods: {
      handleRemove(file, event,fileList) {
       
        event.target.parentNode.parentNode.parentNode.parentNode.remove()
        
        const dt = new DataTransfer()
        var input=this.$el.querySelector("[type='file']")
        const { files } = input

        for (let i = 0; i < files.length; i++) {
          const _file = files[i]
    
          if (input.files[i].uid!=file.uid) dt.items.add(_file) // here you exclude the file. thus removing it.
         var lista=this.$el.previousSibling.value.split(",")
         lista.push(file.name)
         this.$el.previousSibling.value=lista.join(",")
        }

       input.files = dt.files
      
      },
      handlePictureCardPreview(file) {
        this.dialogImageUrl = file.url;
        this.dialogVisible = true;
      },
      handlePreview(file) {
        console.log(file);
      },
      handleDownload(file) {
        var link = document.createElement('a');
        link.href = file.url;
        link.download = file.download;
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      
      }
    }
  }
</script>