<template>
  <div>
      <input :name="name" :value="value" hidden>
  <el-select
    v-model="value"
    filterable
    :multiple="multiple"
    remote
    reserve-keyword
    placeholder="Please enter a keyword"
    :remote-method="remoteMethod"
    :loading="loading"
    >
    <el-option
      v-for="item in options"
      :key="item.value"
      :label="item.label"
      :value="item.value">
    </el-option>
   
  </el-select>  

  </div>
  
</template>

<script>

  export default {
    data() {

      return {
        options: [],
        value: null,
        list: [],
        name:null,
        multiple:false,
        loading: false,
        
      }
    },
    mounted() {
      this.list = this.$attrs["options"]
      this.name = this.$attrs["name"]
      this.value = this.$attrs["value"]
      this.options = this.list;
      this.multiple=JSON.parse(this.$attrs["multiple"])
    },
    methods: {
      remoteMethod(query) {
       
       if (this.$attrs["remote"]){
          fetch(this.$attrs["remote"],{data:{query:query}}).then(res =>res.json()).then((json)=>{
            this.options=this.options.concat(json)
          })
        }
        else{
          setTimeout(() => {
     
              this.options = this.list.filter(item => {
                
                return item.label.toLowerCase()
                  .indexOf(query.toLowerCase()) > -1;
              });
             
            }, 200);
        }
        

        
        /*
        if (query !== '') {
          this.loading = true;
          if (this.$attrs["remote"]){
            fetch(this.$attrs["remote"]+"?currentIndex="+this.options.legnt).then(res =>res.json()).then((json)=>{
              this.options=this.options.concat(json)
            })
            setTimeout(() => {
              this.$attrs["remote"]

              this.options = this.list.filter(item => {
                return item.label.toLowerCase()
                  .indexOf(query.toLowerCase()) > -1;
              });
            }, 200);
          }
          this.list=this.options
          
        } else {
          this.options = this.$attrs["options"];
        }
        */
      }
      
    }
  }
</script>