 <template>
   <div>
  
     <editor
       api-key="no-api-key"
       :init="init"
       @input="change"
       v-model="value"
     />
   </div>
 </template>

 <script>
 import Editor from '@tinymce/tinymce-vue'

 export default {
   name: 'app',
   props: ['value'],
   data(){
    return{ init:{
         height: 500,
         menubar: false,
         file_picker_types: 'file image media',

         file_picker_callback: function (cb, value, meta) {
          
    var input = document.createElement('input');
    input.setAttribute('type', 'file');
    input.setAttribute('accept', 'image/*');

    /*
      Note: In modern browsers input[type='file'] is functional without
      even adding it to the DOM, but that might not be the case in some older
      or quirky browsers like IE, so you might want to add it to the DOM
      just in case, and visually hide it. And do not forget do remove it
      once you do not need it anymore.
    */

    input.onchange = function () {
      var file = this.files[0];

      var reader = new FileReader();
      reader.onload = function () {
        /*
          Note: Now we need to register the blob in TinyMCEs image blob
          registry. In the next release this part hopefully won't be
          necessary, as we are looking to handle it internally.
        */
        var id = 'blobid' + (new Date()).getTime();
        var blobCache =  tinymce.activeEditor.editorUpload.blobCache;

        var base64 = reader.result.split(',')[1];
        var blobInfo = blobCache.create(id, file, base64);
        blobCache.add(blobInfo);

        /* call the callback and populate the Title field with the file name */
        cb(blobInfo.blobUri(), { title: file.name });
      };
      reader.readAsDataURL(file);
     
    };

    input.click();
  },
         plugins: [
           'advlist autolink lists link image charmap print preview anchor',
           'searchreplace visualblocks code fullscreen',
           'insertdatetime media table paste code help wordcount'
         ],
         toolbar:
           'undo redo | formatselect | bold italic backcolor | \
           alignleft aligncenter alignright alignjustify | \
           bullist | numlist | outdent indent | removeformat | help'
       }}
   },
   mounted(){
    console.log(this)
     this.$el.previousSibling.attributes["name"]=this.$attrs["name"]

     this.setContent(this.$el.previousSibling.value);
   },
   methods:{
    change(value){
     this.$el.previousSibling.value=value

    },
    setContent: function (value) {
          this.$emit('input', value);
     }
   },
   components: {
     'editor': Editor
   }
 }
 </script>