<!DOCTYPE html>
<html>
<head>
	<%-include("auth/partials/head") %> 
	<title>Login</title>
</head>
<body>
<div class="container">
	<div class="col-sm-6 mx-auto">
		<div class="card-mt-5">
			<div class="card-body">
				<div class="text-center">
					<h1><%=app%></h1>
					<p>Esta es una pagina de inicio por defecto de tu aplicacion,porfavor remplaza esta plantilla</p>
					
					
				</div>
				 
				
			</div>
		</div>
	</div>
</div>
</body>
</html>