<!DOCTYPE html>
<html>
<head>
	<%-include("auth/partials/head") %> 
	<title>Bienvenido a JSee</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
	<style type="text/css">
	#news{
		text-align: justify;

	}
	#news h1{font-size:20px;text-align:left;}
	#news img{
		max-width: 80%
	}
	#apps{
		text-align: left;
	}
	</style>
 <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>
<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
  
			<div class="card-body">
				<div class="text-left">
					<a href="/wiki">Documentación</a>
					<H3>Mis apps</H3>
					<ul id="apps">
					<%for (var elem of settings.apps){%>
					<li><a href="/<%=elem%>/"><%=elem%></a></li>
					<%}%>	
					</ul>
					
				</div>
				 
				
		
		</div>
    </div>
<!-- Page Content -->
    <div id="page-content-wrapper">

      <div class="container-fluid">
        <h1>Bienvenido a JSee</h1>
		<p>Un framework modular para nodejs inspirado en django</p>
		<h2>Nuevas caracteristicas</h2>
		<br>
			<div id="news">
			<%-apply_filters("jsee_news")%>	
			</div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
 
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>



	
   
</body>
</html>