<!DOCTYPE html>
<html>
<head>
	<%-include("auth/partials/head") %> 
	<title>Dashboard</title>
</head>
<body>
<%-include("dashboard/partials/navbar") %>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			
		</div>
		<div class="col-md-4">
		
		</div>
	</div>
</div>	


</body>
</html>