<!DOCTYPE html>
<html>
<head>
	<%- include("auth/partials/head") %>
	<%-apply_filters("head")%> 
	<%-apply_filters("login_head")%> 
	<title>Login</title>
	<style type="text/css">
        .hidden { display: none; }
    </style>
</head>
<body>
	<div class="container">
		<div class="col-sm-6 mx-auto">
			<div class="card-mt-5">
				<div class="card-body">
					<div class="text-center">
						<h1 class="text-center">
							<span class="fa fa-lock"></span>
							<span id="title">Iniciar Sesión</span>
						</h1>
					</div>
					<div id="message" class="alert alert-danger hidden"></div>
					<div id="message_success" class="alert alert-success hidden"></div>					
					<form action="/login" method="POST">					
						<% if (settings.input_login_with=="email") {%>
						<label for="user">Email</label> 
						<input type="email" name="user" class="form-control">
						<%}else{%>
						<label for="user">Nombre de usuario</label>
						<input type="text" name="user" class="form-control">
						<%}%>
						<label for="user">Contraseña</label>
						<input type="password" name="password" class="form-control">
						<input type="submit" class="btn btn-dark btn btn-lg">
						<div id="goto-signup" class="text-center">
							<p>¿Necesitas una cuenta?</p>
							<p><a id="signup-link" href="/register"> Registrate</a></p>
							<p>¿Olvidó contraseña?</p>
							<p><a id="forgot-link" href="/resetPassword"> Solicitar Cambio</a></p>
						</div>
					</form>
					<div class="text-center">
						<img src="/img/logo-level-negro.png" style="max-width: 100px">
					</div>					
				</div>
			</div>
		</div>
	</div>

<%-apply_filters("footer")%>
<%-apply_filters("login_footer")%> 

</body>
</html>