<!DOCTYPE html>
<html>
<head>
	<%-include("auth/partials/head") %> 
	<title>Registro</title>
</head>
<body>
	<div class="container">
		<div class="col-sm-6 mx-auto">
			<div class="card-mt-5">
				<div class="card-body">
					<div class="text-center">
						<h1 class="text-center">
							<span class="fa fa-lock"></span>
							<span id="title">Registro</span>
						</h1>
					</div>
					<form action="" method="POST">					
						<label for="user">Nombre de usuario</label>
						<input type="text" name="user" class="form-control">

						<label for="user">Email</label> 
						<input type="email" name="email" class="form-control">
						
						<label for="user">Contraseña</label>
						<input type="password" name="password" class="form-control">
						<input type="submit" class="btn btn-dark btn btn-lg">
					</form>
					<div id="goto-login" class="text-center">
						<p>¿Ya tienes una cuenta?</p>
						<p><a id="login-link" href="/login"> Inicia Sesion</a></p>
					</div>				
				</div>
			</div>
		</div>
	</div>
</body>
</html>