<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password</title>
    <%- include("auth/partials/head") %> 
    <style type="text/css">
        .hidden { display: none; }
    </style>
</head>
<body>
    <div class="container">
        <div class="col-sm-6 mx-auto">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="text-center">
                        <span class="fa fa-lock"></span>
                        <span id="title">Reset Password</span>
                    </h1>
                    <form id="forgot-form" >
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" value="" class="form-control">
                        </div>
                        <input type="submit" id="reset" class="btn btn-dark btn-lg" value="Solicitar Reseteo">
                    </form>
                    <hr>
                    <div id="goto-login" class="text-center">
                        <p>¿Ya tienes una cuenta?</p>
                        <p><a id="login-link" href="/login"> Inicia Sesion</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
  let formReset = document.querySelector('#forgot-form')
  formReset.addEventListener('submit', (e)=>{
		let data = {
			email: email.value
        }
		fetch('/resetPassword', {
			method: 'POST',
			headers:{
                'Accept': 'application/json, text/plain, */*',
    			'Content-Type': 'application/json'
			},
			body: JSON.stringify(data)
		})
		.then(res => {
			console.log(res.json(), )
			console.log("siiii pasoo")
			
			// if(res.status == 200){
			// 	divPassword.classList.toggle('hidden')
			// 	divConfirmPassword.classList.toggle('hidden')
			// 	divEmail.classList.toggle('hidden')
			// 	confirmPassword.classList.toggle('hidden')
			// }else{
			// 	messageError.classList.toggle('hidden')
			// }
		})
		.then(data => console.log(data, "dataaaa2"))
		.catch(err => console.log(err, "errror"))
		e.preventDefault()
	})
</script>
</html>