<!DOCTYPE html>
<html>
<head>
	
	<title></title>
</head>
<body>
<h1>Hola mundo</h1>
<span class="fa fa-user"></span>
<span class="fa fa-lock"></span>
<script type="text/javascript" src="/src/dist/bundle.js"></script>
</body>
</html>