<!DOCTYPE html>
<html>
<head>
	<%- include("auth/partials/head") %> 
	<title>Perfil</title>
</head>
<body>
	<div class="container">
		<header class="text-center">
			<h1>Pagina de perfil</h1>
		</header>
	</div>
	<hr>
	<div class="container">
		<div class="col-sm-6">
			<div class="card">
				<h3 class="card-title">
					<span class="fa fa-user"></span> Local
				</h3>
				<div class="card-body">
					<p>
					<strong>id</strong> <%= user._id%> <br>
					<strong>email</strong> <%= user.email%> <br>
					<strong>password</strong> <%= user.password%> <br>	
					</p>
					<a href="<%=settings.logout_route%>" class="logout btn btn-dark ">Salir</a>
				</div>

			</div>

		</div>
	</div>
</body>
<%- include("auth/partials/footer") %>
</html>