<!DOCTYPE html>
<html>
<head>
	<%- include("auth/partials/head") %> 
	<title>Forget Reset Password</title>
	<style>
		.hidden{
			display: none;
		}
	</style>
</head>
<body>
<div class="container">
        <div class="col-sm-6 mx-auto">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="text-center">
                        <span class="fa fa-lock"></span>
                        <span id="title">Reset Password</span>
                    </h1>

                    <div id="message" class="alert alert-danger hidden">No se encuentra el correo que ingresó</div>
                    <div id="message_success" class="alert alert-success hidden">Contraseña Cambiada Exitosamente</div>

                    <form id="reset-form" action="" method="POST">
                        <div class="form-group" id="email">
                            <label for="email">Email</label>
                            <input type="email" name="email" value="" id="email" class="form-control">
                        </div>
                        <div class="form-group " id="password">
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" value="" id="password" class="form-control">
                        </div>
                        <div class="form-group " id="confirm-password">
                            <label for="confirm_password">Repetir Contraseña</label>
                            <input type="password" name="confirm_password" id="password" class="form-control ">                        
                        </div>
                        <div class="form-group">
                            <input type="submit" id="acept" class="btn btn-dark btn-lg" value="Aceptar">
                        </div>
                    </form>

                    <hr>
                    <div id="goto-login" class="text-center">
                        <p>¿Ya tienes una cuenta?</p>
                        <p><a id="login-link" href="#"> Inicia Sesion</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
<script>
    let params = new URLSearchParams(location.search);   
</script>
</html>