<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/dashboard">JSee</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/wiki">Wiki</a>
      </li>
     <%-apply_filters("dashboard-navbar-items","")%> 
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/wiki/search.html?q=componentes&check_keywords=yes&area=default">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
     <a class="nav-link" href="<%-settings.logout_route%>">Salir</a>
  </div>
</nav>