<div class="table-responsive">
<table class="table table-responsive">
	<thead class="thead-dark">
	<tr>
		<th></th>

		<%for (var field of fields){%>
		<th> <%-field%> </th>
		<%}%>
	
		
	</tr>
	</thead>

	<tbody>
		<%rows.map(col => {%>
			
			<tr>
			
			<td>
				<input type="checkbox">
			</td>
	
			<% fields.map((field, index) => {%>
				
				<%if (index == 0) {%>
					<td>
						<a href="<%-url%>/<%-col._id%>">
							<%- col[field] %>

						</a>
						<%-actions(col._id)%>
						
					</td>
				<%}else{%>

					<td><%-format_field(req,field,col[field])%>
					</td>

				<%}%>
			<% }) %>
			<td>
				
			</td>
			</tr>
		<% }) %>
	</tbody>

</table>
<div class="text-center">
<% if(num_page != 1) {%>
	<a id="prev" href="<% url %>?page=<%-num_page - 1%>">
		<button>Previous</button>
	</a>
<% } %>

	<span><%- num_page %> of <%- total_pages %></span>
<% if(num_page < total_pages) {%>
	<a href="<% url %>?page=<%-num_page + 1%>" id="next">
		<button>Next</button>
	</a>				
<% } %>	
</div>

</div>