<!DOCTYPE html>
<html>
<head>
	<%-include("auth/partials/head") %> 
	<title>Dashboard</title>
</head>
<body>
<%-include("dashboard/partials/navbar") %>
<%-apply_filters("dashboard-header","")%> 
<div class="container">

	<div class="row">
		<div class="col-md-8  mx-auto">
		<div class="card-mt-5">
			<div class="card-body">
				<div class="text-center">
					<%-_("MODEL ADMINISTRATION PANEL")%>
					<%if (is_staff){%>
					<%for (var app in models_registered){%>
						<div class="card-header">
							<%-app%>
						</div>
						<div class="card-content text-left">
							<ul>
						<%for (var model of models_registered[app]){%>
							<li><a href="/dashboard/<%-app+'/'+model[0].modelName.split(".")[1]%>"><%-model[0].modelName.split(".")[1]%></a></li>
						<%}%>	
						</ul>
						</div>
					<%}%>
					<%}else{%>
					
					<p class="text-left" style="margin-top: 10px ">Lo siento no tienes permisos para manejar este panel. Por favor contacte con el administrador</p>
					<%}%>

				
					
				</div>
				 
				
			</div>
			<%-apply_filters("dashboard-widget_left","")%> 
		</div>
	</div>
	<div class="col-md-4  mx-auto">
		<div class="card-mt-5">
			<div class="card-body">
				<div class="card-header">
					Acciones recientes 	 
				</div>
				<div class="card-content text-left">
					<%if (is_staff){%>
					<%}%>
				</div>
			</div>
		</div>
	</div>
	</div>
<%-apply_filters("footer") %> 	
</div>
</body>
</html>