<!DOCTYPE html>
<html>
<head>
	<%-include("auth/partials/head") %> 
	<%-apply_filters("head",{"include":include})%>
	<title>Dashboard</title>
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
	<%-include("dashboard/partials/navbar") %> 
	<div class="container">
		<div class="col-sm-12 mx-auto">
			<div class="card-mt-5">
				<div class="card-body">
					<div class="text-center">
						<!-- %-title% -->
						<h3><%-title%></h3>
						<p>Seguro que deseas eliminar este registro</p>
						<form action="" method="POST" id="form">
						
							<input type="hidden" name="_method" value="<%-method%>">
							<input type="submit" value="Eliminar" class="btn btn-danger">
						</form>					
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/js/dist/dashboard-forms.js"></script>
	<script type="text/javascript">
		var form=JSEE_FORM("#form")
	</script>
</body>
</html>