<!DOCTYPE html>
<html>
<head>
	<%-include("auth/partials/head") %> 
	<%-apply_filters("head",{"include":include})%>
	<title>Dashboard</title>
	
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
	<%-include("dashboard/partials/navbar") %> 
	<div class="container">
		<div class="col-sm-10 mx-auto">
			<div class="card-mt-5">
				<div class="card-body">
					<div class="text-center">
						<!-- %-title% -->
						<h3><%-title%></h3>
						<form action="" method="POST" id="form" enctype='multipart/form-data'>
							<%-form.render()%>
							<input type="hidden" name="_method" value="<%-method%>">
							<input type="submit" value="Guardar" class="btn btn-primary">
							<a href="../" class="btn btn-secondary">Cancelar</a>
						</form>					
					</div>
				</div>
			</div>
		</div>
	</div>
	<link rel="stylesheet"  href="/static/dashboard/css/forms.css">
	<script type="text/javascript" src="/js/dist/dashboard-forms.js"></script>
	<script type="text/javascript">
		var form=JSEE_FORM("#form")
	</script>
</body>
</html>