<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%-include("dashboard/partials/head.ejs")%>
	
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="/js/dist/dashboard-main.js"></script>
</body>
</html>