<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%-include("dashboard/partials/head.ejs")%>
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>
<body>
<form id="form" method="POST" enctype="multipart/form-data">
	<%-form.render()%>
	<button class="btn btn-primary">Enviar</button>
</form>
<link rel="stylesheet"  href="/static/dashboard/css/forms.css">
	<script type="text/javascript" src="/js/dist/dashboard-forms.js"></script>
	<script type="text/javascript">
		var form=JSEE_FORM("#form")
	</script>
</body>
</html>