<!DOCTYPE html>
<html>
<head>
	<%-include("auth/partials/head") %> 
	<title>Dashboard</title>
</head>
<body>
<div class="container">
	<div class="col-sm-6 mx-auto">
		<div class="card-mt-5">
			<div class="card-body">
				<div class="text-center">
	<form action="">
	<input type="text" name="q">
	<input type="submit">	
	</form>
	
	<table>
		<tr>
			<%for (var field of fields){%>
			<th><%-field%></th>
			<%}%>
		</tr>
		<%rows.forEach(function(row, index) {%>
		<tr>
			<%rows.forEach(function(col, index2) {%>
			
				<%if (index2==0) {%>
				<td><input type="checkbox"></td>
				<%}%>
				<%if (index2==1) {%>
				<td><a href="/<%-app.name+'/'+col+'/'+rows[0]%>/edit"><%-col%></a></td>
				<%}else{%>
				<td><%-col%></td>
				<%}%>
			
			<%})%>
			</tr>
		<%})%>
	</table>
					
					var ini=0;
var fin=0;
var pages=[];

if(parseInt('{{num_page}}')<=5){
  ini=1;
  if(parseInt('{{num_pages}}')<9)
    fin=parseInt('{{num_pages}}');
  else
    fin=9;
}else if(parseInt('{{num_page}}')>=parseInt('{{num_pages}}')-4){
  if(parseInt('{{num_pages}}')<=9)
    ini=1;
  else
    ini=parseInt('{{num_pages}}')-9;
  fin=parseInt('{{num_pages}}');
}else{
  ini = parseInt('{{num_page}}')-4;
  fin = parseInt('{{num_page}}')+4;
}
					
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>