<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="">
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div >
  <!-- <form action="" method="POST"  @submit.prevent="submit"> -->
  <form action="" method="POST"  id="app"  >
     <%-form.render()%>
     <input type="file" name="upload">
     <button >Guardar</button>
  </form>
</div>


<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.13.2/lib/index.js"></script>
<script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>
<script>


  ELEMENT.locale(ELEMENT.lang.en)
   Vue.component("multiple-choice-widget",{
    props:["filterMethod","value"],
    filterMethod(query, item) {
      return item.initial.toLowerCase().indexOf(query.toLowerCase()) > -1;
    },
    value:[],
    template:"<el-transfer filterable :filter-method='filterMethod' filter-placeholder='Search keyword' @change='change' v-model='value' :data='data' ></el-transfer>",
    methods:{
      async change(value){
        //si esta activado el modo 3
        if (this.$root.$el.hasAttribute("updater")){
          var data={}
          console.log(this.$el)
          var url=this.$el.hasAttribute("action")
          var that=this
          if (this.$el.hasAttribute("action")==""){
            url="/json"+location.pathname
          }
          data[this.$attrs.name]=value
          console.log(data)
          fetch(url,{
                method:'PATCH',
                headers:{
                  'Content-Type': 'application/json'
                },
                mode: 'cors',
               cache: 'default' ,
                body:JSON.stringify(data),
            }).then(function(response) {
            return response.json();
          })
          .then(function(data){
            
            if (that.$el.updater){
              that.$el.updater(data)
            }
          })
          

        }
        
        //actualiza el input para ser usado en los modos 1 y 2
        this.$el.previousSibling.value=value

      }

    },
    computed:{
      data(){
        return this.$attrs.data
      },
    },
  })



new Vue({
  el:"#app",
  data:function(){
    return{
        data:[]
    }
  },
  methods:{
    async submit(message){
      //Esto es el modo 2
      var form=new FormData(this.$el)
    
      var that=this
      var url=this.$el.getAttribute("action")
      if (this.$el.getAttribute("action")==""){
            url="/json"+location.pathname
          }
     
 
      fetch(url,{
            method:that.$el.getAttribute("method"),
            headers:{
              'Accept': 'application/JSON' ,
              'Content-Type':'application/json'
            },
            body: JSON.stringify(Object.fromEntries(form)),
            contentType: false,
            processData: false,
            
        }).then(function(response) {
        return response.json();
      })
      .then(function(data){
        if (that.$el.do){
          that.$el.do(data)
        }
      }
      );
  },
  }
})



</script>
</body>
</html>