<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Show</h2>
    <table>
        <% if (row.length === 0) {%>
            <h1>Data not found</h1>
        <% } else { %>
            <% for (let field of fields){%>
            <tr>
                <th>
                    <%-field%>
                </th>
                <td>
                    <%-row[0][field]%>
                </td>
            </tr>
            <% } %>
        <% } %>
    </table>
</body>
</html>