<!DOCTYPE html>
<html>
<head>
	<%-include("auth/partials/head") %> 
	<title>Dashboard</title>
	<style type="text/css">
		td{
			text-align: left;
		}
	</style>

</head>
<body>
	<%-include("dashboard/partials/navbar") %> 
<div class="container">
	<div class="row">
		<div class="col-md-8  mx-auto">
		<div class="card-mt-5">
			<div class="card-body">
				<div class="card-header">
				<a href="/dashboard">Panel de administración</a>/<a href="/dashboard/<%-req.params.app%>"><%-req.params.app%></a></a>
				</div>
				<div class="text-right">
				
				<form action="">
					<a href="/dashboard/<%-req.params.app%>/<%-req.params.model%>/new" class="btn btn-primary">Nuevo <%-req.params.model%></a>
				<input type="text" name="q" value="<%-search%>">
				<input type="submit">	
				</form>
				
				<%-include("dashboard/partials/table",
					{fields:fields,
					 total_pages:total_pages,
					 num_page:num_page,
					 rows:rows,
					 url:url,
					 "format_field":format_field,
					 "actions":actions,
					 "req":req}) 
				%> 
			</div>
			</div>
		</div>
	</div>

	<div class="col-md-4  mx-auto">
		<div class="card-mt-5">
			<div class="card-body">
				<div class="card-header">
					Acciones recientes 	 
				</div>
				<div class="card-content text-left">
				</div>
			</div>
		</div>
	</div>
	</div>
	
</div>
<%-include("auth/partials/footer") %>
</body>
</html>